.footer-container{
    display: flex;
    justify-content: space-around;
    background-color:rgb(237, 242, 246);
    padding:20px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.y{
    font-size: 40px;
    color: rgb(237, 6, 26);
    
}

.i{
    font-size: 40px;
    color: rgb(230, 47, 93);
    
}

.f{
    font-size: 40px;
    color: rgb(47, 96, 230);
    
}

/* .footer-underline{
    height: 3px;
    width: 40px;
    margin: 10px 0px;
    background-color: blue;
} */
.footer-underline{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 10px;

    
}
.footer-underline::after{
    content:'';
    position: absolute;
    width:40px;
    height: 3px;
    background-color: blue;
    
}
.footer-cover{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-logo{
    width: 30px;
}
.footer-company-icon{
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}
.footer-para{
    font-weight: 550;
    color: gray;
}
@media (max-width:768px) {
    .footer-container{
        flex-direction: column;
        padding: 10px;
        gap:20px;
        text-align: center;
        align-items: center;
    }

}